 .homeWrapper {
    min-height: 100vh;
    width: 100%;
    background: #312E38;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 300px;
        height: 300px;

    }

    .header {
        margin-top: -100px;
    } 

    .content {
        width: 800px;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .button {
        background: transparent;
        border-color: transparent;
        height: 44px;
        width: 160px;
        color: #f6f4fa;
        font-size: 14px;
        font-weight: bold;
    }

    
}